.galleryBody
  width 80%
  margin-left 10%
  display flex
.item
  width 30%
  min-width 120px
  margin-top 10px
  margin-left 8px
.galleryPic
  width 70%
  margin 10px
.galleyNav
  margin 10px
  a
    border-bottom 4px solid black
  small
    margin-top 40px


@media (orientation: portrait)
  .galleryBody
    flex-direction column
  .galleryPic
    width 100%
    margin -8px
    margin-top 10px
